#components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, .2);
    margin: 16px 28px 16px 0;
    float: left;
}

.TreeListWrapper {
    width: 20%;
    float: left;
    /* margin: 0px; */
    top: 9px;
}

.ListWrapper {
    /*width: 70%;*/
    /*float: right;*/
}